<div class="main">
  <div class="col-lg-9 left-section">
    <app-navbar></app-navbar>
    <div class="pt-5 pb-4">
      <div class="landing">
        <div class="col-lg-7 text-white cardText">
          <ul class="pt-5">
            <li class="list-group-item">
              <h1 class="animatedTitle1" id="title1">transforming</h1>
            </li>
            <li class="list-group-item">
              <h1 class="animatedTitle2" id="title2">challenges</h1>
            </li>
            <li class="list-group-item">
              <h1 class="animatedTitle3" id="title3">into</h1>
            </li>
            <li class="list-group-item">
              <h1 class="animatedTitle4" id="title4">opportunities</h1>
            </li>
            <li
              class="list-group-item nav-item d-flex justify-content-center"
              role="presentation"
            >
              <button
                class="text-center learnButton"
                routerLink="/services"
                id="learnMoreButton"
              >
                Learn More
              </button>
            </li>
          </ul>
        </div>
        <div class="col-lg-5 text-white cardPhone">
          <div class="d-flex align-items-center justify-content-center">
            <div class="card phoneCard" style="width: 400px">
              <div
                class="card-body d-flex align-items-center justify-content-center"
              >
                <div class="phoneImg">
                  <img src="assets/imgs/phone.png" alt="" />
                </div>
                <div class="cardLogo text-center" style="position: absolute">
                  <img src="assets/imgs/logo.png" alt="" />
                  <h5 class="logoHatlone">HATLONE</h5>
                </div>
              </div>
              <div class="footer text-center" id="subtitle">
                Embrace the future with us
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slogan mt-3">
        <img src="assets/vds/video.gif" alt="" />
        <p id="slogan">Simplify, Optimize, Innovate: Empowering Businesses</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 right-section">
    <div class="container home-content py-4">
      <div class="titleSection">
        <h4 id="titleRightSection">Hatlone Technologies, inc.</h4>
        <p id="textRightSection">
          Company specializing in software development and information
          technology
        </p>
      </div>
      <button class="nav-link contactBtn" type="button" routerLink="/contact">
        <img
          src="assets/imgs/contact.png"
          style="width: 10.5em; height: 4em"
          alt=""
        />
        <p id="contactUs">Contact us</p>
      </button>
      <ul>
        <li>
          <i class="bi bi-check-circle-fill"></i>
          <p id="text1">Web and mobile application development</p>
        </li>
        <li>
          <i class="bi bi-check-circle-fill"></i>
          <p id="text2">Virtual Reality (VR)</p>
        </li>
        <li>
          <i class="bi bi-check-circle-fill"></i>
          <p id="text3">Custom software development</p>
        </li>
        <li>
          <i class="bi bi-check-circle-fill"></i>
          <p id="text4">Software engineering</p>
        </li>
        <li>
          <i class="bi bi-check-circle-fill"></i>
          <p id="text5">Artificial Intelligence (AI)</p>
        </li>
        <li>
          <i class="bi bi-check-circle-fill"></i>
          <p id="text6">Consulting, maintenance, and technical support</p>
        </li>
        <li>
          <i class="bi bi-check-circle-fill"></i>
          <p id="text7">Big data and analytics</p>
        </li>
        <li>
          <i class="bi bi-check-circle-fill"></i>
          <p id="text8">Robotic process automation</p>
        </li>
        <li>
          <i class="bi bi-check-circle-fill"></i>
          <p id="text9">Testing and quality assurance</p>
        </li>
        <li>
          <i class="bi bi-check-circle-fill"></i>
          <p id="text10">Internet of Things (IoT)</p>
        </li>
        <li>
          <i class="bi bi-check-circle-fill"></i>
          <p id="text11">Cybersecurity</p>
        </li>
      </ul>
    </div>
  </div>
</div>
